body {
    background-color: $background-color;
    // font-family: $sans-font;
    color: $licorice;
}

$title-font-size: 3.5rem;

h1 {
    font-size: $title-font-size;
}

h1 .lower-case {
    font-size: $title-font-size * 5/7;
}

#full-name {
    // font-family: $serif-font;
}

a {
    color: $purple-accent;
    font-weight: bold;
    text-decoration: none;
    font-style: italic;
}

a:hover {
    background-color: $purple-accent;
    color: white;
}

a:visited {
    
}

.internal-link{
    color: $nickel;
    text-decoration: none;
}